<%- include('includes/header.ejs')%>
<%- include('includes/navigation.ejs')%>
    <h1>Server error!</h1>
    <h4>We are working on fixing this, sorry for the incovinience</h6>
<%- include('includes/footer.ejs')%>